.wrapper
  .notification
    %p
      グループを作成しました
  .chat-side
    .side-headder
      %p.side_header_box
        %p.side-header_box_user-name
          mayumi
        %ul.side-header_box_menu
          %li.side-header_box_menu_new-group
            e
            c
            -# = fa_icon 'fa-cog'
          %li.side-header_box_menu_edit-user
            =link_to ""
    .groups
      %p.group-name
        group name
      %p.message
        latest message
  .chat_main
    .main-header
      %p.main-header_left_box
        %p.main-header_left_box_current_group
          current group
        %p.main-headder_left_box_member-list
          %ul
            %li
              Member:

    .messages

    .form
      %p.form-box
        type a message
  

     

