.wrapper
  .notification
    %p
      グループを作成しました
  .chat-side
    .chat-side__header
      .chat-side__header_box
        %p.chat-side__header_box_user-name
          mayumi
        %ul.side-header_box_menu
          %li.side-header_box_menu_new-group
            =link_to "#" do
              = fa_icon 'edit' 
          %li.side-header_box_menu_new-group
            =link_to "#" do
              = fa_icon 'cog' 
          %li.side-header_box_menu_new-group
    .chat-side__groups
      .chat-side__groups_box
        %p.group-name
          group name
        %p.message
          latest message

      .chat-side__groups_box
        %p.group-name
          group name
        %p.message
          latest message

  .chat-main
    .chat-main__header
      .chat-main__header-title
        .current_group
          .current_group__name
            current group
          .members
            %h3.members__title Member:
            %ul.members__list
              %li
                test
              %li
                mayumi
        .edit-button

          = link_to '#'
            Edit
        
    .chat-main__messages
      .chat-main__messages__upper-info
        .chat-main__messages__upper-info__name
          aaa

        .chat-main__messages__upper-info__day
          2019/07/12(Fri) 19:24:12
        .chat-main__messages__upper-info__text
          test
        
    .chat-main__footer
      .form-box
        %input.input-box{ placeholder: 'Type a message' }

          %label.upload-label{for: "upload-icon"}
            %i.fa.fa-picture-o
            = file_field_tag :image, id: "upload-icon", class: "hidden"

  
      
      .submit-button
        Send