.chat-main{
  float:left;
  background:#fff;
  width: calc(100% - 300px);
  height: 100%;


  &__header{
    box-sizing: border-box;
    width: 100%;
    height: $header-height;
    padding: 0 40px;

    &-title{
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

    .current_group{
      display: inline;
      background: #fff;

      &__name{
      margin: 25px 0;
      }
    .members{
      list-style: none;
      display: flex;
      font-size: 12px;
      color: #999999;
      li{
        margin: 0 0 0 4.8px;
      }
    }
  }
        
      .edit-button{
        a{
          display: block;
          border: 1px solid #38AEF0;  
          text-decoration: none;
          color:#38AEF0;
          padding: 0 20px;   
          height: 40px;   
          line-height: 40px;    
        }

        display: block;
        padding: 28px 20px;
        margin: 0 30 20 0;
      }

  
.messages{
  width: 100%;
  height: $messages-height;
  background:#FAFAFA;
  display:block;
  overflow: scroll;

  &__list{
    display: flex;
  }

  .upper-message{
    background:#FAFAFA;
    width: 100%;
    padding: 46px 40px;

    &__user-name{
      color:#434A54;
      font-size: 16px;
      display: inline;
    }

    &__date{
      display: inline;
      font-size: 12px;
      color:#999999;
    }
    
  }
  .lower-message{
    &__content{
      margin-left:40px;
      margin-top:-50px;
      color:#434A54
    }
    &__image{
      padding:40px;
    }
  }
}

  .form{
    // background:#DDDDDD;
    background:#dddddd;
    width: calc(100vw - 300px);
    height: $form-height;
    padding: 20px 50px 20px 40px;
    position:fixed;
    bottom:0;

    &__message{
      float:left;
      width:calc(100% - 120px);
      height:50px;
      padding-left:10px;
      margin: auto;
    }

    &__mask{
      // border:0;
      // display: flex;
      justify-content: center;
      // align-items: center;
      height: 50px;
      background:#dddddd;
      // margin-left: 20px;
        
      
      &__image{
        // align-items: center;
        display:inline;
        // margin:10px 0 0 -150px;
        font-size: 1.3rem;
        position: absolute;
        margin: 10px;
        right: 180px;
        // cursor: pointer;
      }
        .hidden{
          display: none;
        }

  .form__submit{
    float: right;
    // position: absolute;

    color: #ffffff;
    background: #38AEF0;
    padding: 0 30px 0 30px;
    // border: 10px solid #38AEF0;  
    height: 50px;
    width: 100px;
    margin: 0 30;

    }
    
  //   display: none;
  }
}
}
