.notification {
  background:#38aef0;
  text-align: center;
  p{
    color: #FFF;
  }
}
.chat-side{
  background:#253141;
  width: 300px;
  height: 414px;
  float:left;

  .side-header {
    background-color: #253141;
    width: 300px;
    height: 100px;
    p{
      color: #FFF;
    }

    // position: fixed;
    // width: 300px;
    // color:#fff;

    // .side-header_box_user-name{
    //   background-color: #253141;
    //   width: 20px;
    //   height: 100%;
    .groups{
      background: #2f3e51;
      width: 300px;
      height:314px;
      float:left;
    }
   }


  .chat_main{
    float:left;
    //   height: calc(100% - 300px);
    //   padding-top: 180px;
    //   width: 100%;
  }

  .left-content {
    background-color: #2F3E51;
    height: 100%;
    width: 20px;
    float: left;
  }

  .contents-main {
    height: 100%;
    width: calc(100% - 300px);
    float: right;
    position: relative;
  }
}